.conditions-section{
width: 100%;
padding-bottom: 80px;

&__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

&__item{
    @include center;
    height: 200px;
    flex-direction: column;
    gap: 12px;
    border-radius: 34px;
    padding-bottom: 20px;


    &:hover{
    background-color:  rgba(247, 85, 171,0.3);
    box-shadow: 2px 3px 5px rgba(90, 2, 79, 0.2);
    

    }

    &-title{
        @include text(32px,500,1.5);
    }

    &-text{
        @include text(16px,400,1.5);    
    }
}


}