.form-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

    &__container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 62px;
        border: 2px solid rgba(247, 85, 171, 0.8);
        margin: 0 auto;
    }

    &__block{
        width: 40%;
        @include center;
        flex-direction: column;
        gap: 15px;
    
        &-image{
            width: 100%;
            border-radius: 62px;
        }

        &-price{
            position: absolute;
            transform: translate(0, 320%);
        }
    }
}